*{
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.body{
    background-color: #292c2f
}

/*----Nav----*/
.header h1{
    grid-column-start: 1;
    grid-column-end:2; 
    font-size: 3em;
    /* background-color: lightgray; */
    margin:0% 0% 0% 0%;
    padding:0% 0% 3% 0%;
}

.nav {
    grid-column-start: 3;
    grid-column-end: 5; 
    /* background-color: lightpink; */
    text-align: right;
}
    .navicon > ul > li{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    padding: 0% 2% 0% 2%;
    margin:0;
    }

    .navicon > ul > li > a{
    text-decoration: none;
    }


    .navicon > ul > li > a:visited{
        color:black;
    }
    .navicon > ul > li > a:hover{
        color:	#20B2AA;
    }

    .navbar > ul{
        list-style-type: none;
        overflow: hidden;
    }

    .navbar > ul > li > a{
        text-decoration: none;
        color: #858585;
    }

    .navbar > ul > li{
        display: inline-block;
        color: #858585;
        text-align: center;
        padding: 0% 3% 0% 3%;
        text-decoration: none;
        font-size:1.3em;
    }

    .navbar > ul > li > a:hover {
        color:	#20B2AA;
    }


/*-----Home-----*/
/*----Banner----*/
.banner{
    display:block;
    height: 600px;
    background-image:url("../imgs/banner-bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.greeting{
    font-size: 60px;
    margin: 0%;
    color:white;
    text-align: center;
    line-height: 550px;
}

/*----------About----------*/
.undergraduate{
    display:grid;
    grid-template-columns: 50% 50%;
    height: 600px;
    /* background-color:lightgrey; */
    background-size:cover;
    background-position:center;
}

    #sjtu{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        background-image: url("../imgs/undergraduate.jpg");
        background-size:cover;
        background-position:center;
        margin: 3% 0% 3% 0%;
    }

    .undergraduate > img{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 50%;
        margin: 3% 3% 3% 3%;
    }

.graduate{
    display:grid;
    grid-template-columns: 50% 50%;
    height: 600px;
    /* background-color:lightpink; */
    background-size:cover;
    background-position:center;
}
    .graduate > img{
        margin: 3% 3% 3% 3%;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 50%
    }



/*----------Climb----------*/
.mountains {
    display:grid;
    grid-template-columns: fr fr fr;
    grid-template-rows: fr fr;
    height: 600px;
    /* background-color:lightgrey; */
    background-size:cover;
    background-position:center;
}

    #hanna, #wugong, #zhangjiajie, #qilian, #gongga, #fushi{
        margin: 3% 0% 3% 0%;
    }
    #hanna{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        background-image: url("../imgs/hanna.jpg");
        background-size:cover;
        background-position:center;
    }
    #wugong{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        background-image: url("../imgs/wugong.jpg");
        background-size:cover;
        background-position:center;
    }
    #zhangjiajie{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        background-image: url("../imgs/zhangjiajie.jpg");
        background-size:cover;
        background-position:center;
    }
    #qilian{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        background-image: url("../imgs/qilian.jpeg");
        background-size:cover;
        background-position:center;
    }
    #gongga{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        background-image: url("../imgs/gongga.jpg");
        background-size:cover;
        background-position:center;
    }
    #fushi{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        background-image: url("../imgs/fuji.jpg");
        background-size:cover;
        background-position:center;
    }


/*----------Contact----------*/
.contact{
    background-image: url("../imgs/gnj.png");
    display:block;
    height: 600px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}







