/*----Nav----*/
*{
    font-family:'Courier New', Courier, monospace
}
.header h1 {
    float: left;
    padding: 10px 15px;
    line-height: 18px;
    height: 30px;
}

h1 {
    font-size: 2.5em;
    text-shadow: none;
    margin: 12px 0 0 0;
}

.navbar > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
}

.navbar > ul > li > a {
    float:right;
    color: #858585;
    display: block;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

.navbar > ul > li > a:hover {
    color:	#20B2AA;
}

/*----Banner----*/
.banner .contact{
    width: 100%;
    position: relative;
    padding: 16px;
    background-size: 100% 50%;
    background-size: cover;
}

.banner > img {
    width: 100%;
}



/*----------About----------*/
.edu > img{
    width:30%;
}

/*----------Climb----------*/
.mountains > img{
    width:30%;
}

/*----------Contact----------*/
.contact > img {
    width: 100%;
}